.toolBar {
    align-self: stretch;
    background-color: #282c34;
    align-content: right;
    color: white;
    display: flex;
    justify-content: flex-end;
    font-family: monospace;
    font-size: 2vw;
   /* margin-bottom: 2%;*/
  }
  
  .toolBar>a{
    flex-grow: 2;
    width: 0;
    min-width: 10vw;
    box-shadow: -3px 3px black;
    border-radius: 10px;
    border: black solid 1px;
    background-color: #282c34;
    text-shadow: 2px 2px black;
    padding-top: 1%;
    text-align: center;
  }
  
  .toolBar>a:hover{
    transform: scale(1.1);
    box-shadow: -4px 4px black;
  }
  
  .toolBar> a:first-child:hover >img{
    animation: rotation 2s infinite linear;
  
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  .settings-icon{
    width: 3vw;
    height: 3vw;
  }

  .gap{
    flex-grow: 14;
  }

  
  @media all and (max-height: 700px ){
    .toolBar{
        flex-direction: column;
        justify-content: flex-start;
        font-size: calc(2vh+2vw);
      }
      .gap{
        flex-grow:0;
      }

      .toolBar > a{
        flex-grow: 0;
        padding-bottom: 10%;
        padding-top: 10%;
        padding-right: none;
        padding-left: none;
      }
 }

  