
.site-header{
  font-size:80px;
  margin-top: 0%;
}

.LoginBox {
  align-self: stretch;
  border: grey 3px solid;
  border-radius: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: auto;
  background-color: #282c34;
  box-shadow: 4px 4px #888888;
}

.login-header {
  text-align: left;
  font-size: 20px;
  margin-bottom: 0px;
  margin-left: 15%;
  align-self: flex-start;
  text-shadow: 2px 2px black;
}

input {
  font-size: 15px;
  background-color: #171920;
  border-radius: 10px;
}

.password-line {
  margin-top: none;
  margin-left: 10%;
}

.eye-icon {
  width: 20px;
  height: 15px;
  margin-left: 0.5vw;
}

.eye-icon:hover {
  transform: scale(1.5);
}

.loginButton {
  font-family: monospace;
  font-size: 30px;
  align-self: flex-end;
  margin-right: 17%;
  background-color: #282c34;
  border: #888888 solid 1px;
  border-radius: 10px;
  color: white;
  box-shadow: 3px 3px #888888;
  text-shadow: 1px 1px black;
}

.loginButton:hover {
  transform: scale(1.05);
  box-shadow: 3.5px 3.5px #888888;
}


.Login>a {
  font-size: 12px;
  color: #0074e0;
  text-shadow: 1px 1px black;
}

.register {
  border-top: white dashed 2px;
  margin: none;
  font-size: 20px;
  padding: 5%;
}

.register-link {
  color: #0074e0;
  text-shadow: 1px 1px black;
}


@media all and (max-height: 700px) {
  .Login {
    margin: auto;
  }
}

@media all and (max-width: 700px) {
  .site-header{
    font-size: 11vw;
  }
  
  .Login {
    width: 40vw;
  }

  .login-header {
    font-size: 2.75vw;
  }

  input {
    font-size: 2.0625vw;
  }

  .eye-icon {
    width: 2.75vw;
    height: 2.0625vw;
  }

  .Login>a {
    font-size: 1.65vw;
  }

  .loginButton {
    font-size: 4.125vw;
  }

  .register {
    font-size: 2.75vw;
  }

}